.page {
	flex-grow: 1;
}

[data-panel] {
	/* `operationSourcePreview` is relative to this. */
	position: relative;

	&:focus {
		/* The focus state is displayed on the item row instead. */
		outline: none;
	}
}

.panel {
	border-top: 2px solid transparent;

	[data-panel]:focus-within & {
		border-top-color: var(--fill-gray-bg);
	}
}

.panelPadding {
	padding: var(--panel-padding);
}

.panelResizeHandle {
	width: 1px;
	background-color: var(--border-2);
}
